*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: auto;
}
@media screen and (max-width: 600px) {
    div,aside{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
}


.body{
  
    color: aliceblue;    
    background-image: linear-gradient(rgba(93, 93, 92, 0.883),rgba(0, 0, 169, 0.686), rgba(17, 0, 175, 0.875)), url(images/fountain.jpeg);
    background-size: contain;
    background-position: 0 0;
    background-attachment: fixed;
    background-blend-mode: multiply;



}
.intro{
    line-height: 20px;
    text-align: center;
    padding: 20px;
    background: #000;
}

h1{
    color: blue;
    text-align: center;
    word-spacing: 5px;
    line-height: 45px;
    font-family: 'Times New Roman', Times, serif;
}


.input{
    display: table;
    background: rgba(223, 225, 230, 0.671);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px black;
    padding: 5px;
    width: 90%;
    align-self: auto;
}
label{
    padding:8%;
}
#btn{
    background: rgba(5, 101, 211, 0.658);
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px black;
    padding: 5px;
    padding-left: 35%;
    padding-right: 35%;
    width: 90%;
    margin-bottom: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 5px;

}
#sbtn{
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px black;
    padding: 5px;
    text-decoration: solid;
    font-family: serif;
    word-spacing:normal;

}

#question{
    color: #000;
    padding: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(213, 213, 213);
}
.a{
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(186, 186, 186);
}
h2{
    color: rgb(240, 240, 240);
    margin: auto;
}

.list{
    place-items: left;
    display: inline;
    padding: 3px;
}

.field{
    margin: 5% auto;
    background: rgba(25, 8, 180, 0.471);
    width:400px;
    height:auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0 hsl(0, 14%, 7%);
    color: white;
    padding: 20px;
    border-width: 0;
}

.division{
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px ;
    margin-bottom: 150px;
    margin-top: 20px;
    width:75%;
    height:500px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 black;
    color: white;
    padding: 10px;
    border-width: 0;
    display: flow-root;
    overflow: auto;
}

.section{
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.83);
    display: block;
}
.indiv{
    margin-left: auto;
    background-color: rgba(32, 5, 234, 0.733);
    color: rgb(255, 255, 255);
    width:50%;
    font-weight: bold;
    height:100%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 black;
    padding: 20px;
    border-width: 0; 
    display: flow-root;
    overflow: auto;     
}

aside{
    margin-left: auto;
    background-color: #1a1717b9;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20%;
    width: 25%;
    height: 750px;
    border-radius: 5px;
    border: 0;
    color: #cacaca;
    float: right;
    padding-left: 5px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif ;
    display: flow-root;
    overflow: auto;
}
aside p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
}
aside h2{
    padding: 16px;
}
aside .logo{
    display: block;
    margin: auto;
    height: 50px;
    float: none;
    width: auto;
}

.logo{
    width: 10%;
    margin-inline: 45%;
}

#info{
    border-radius: 0px;
    background-image: url('images/admns.jpg');
    background-repeat: repeat-x;
    width: 100%;
    height: 380px;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px;
    background-size: contain;
    display: flow-root;
    overflow: auto;
}
#iinfo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(207, 107, 0);
    text-shadow: 4px 4px 3px rgb(50, 50, 144);
    

}


#grad{
    float: left;
    width: 35%;
    background-image: url('images/gradbg.jpg');

}
#ingrad{
    width: 98%;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: black;
    text-shadow: 4px 4px 3px rgb(50, 50, 144);
}

#sup{
    float: left;
    width: 35%;
    background-image: url('images/Supbg1.jpeg');

}
#insup{
    width: 98%;
    margin: auto;
    text-align: center  ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#links{
    border-radius: 0;
    margin: auto;
    background-image: radial-gradient(rgba(93, 93, 92, 0.883),rgba(0, 0, 169, 0.686), rgba(17, 0, 175, 0.875)), url(images/grad2bg.jpg);
    width: 72%;
    height: 250px;
    float: left;
    padding: 2%;
}
#links h3{
    padding: 20px;
    font-size: 34px;
    text-align: center;
    
}
#links small{
    font-style: italic;
    text-decoration: double;
    margin-left: 30%;
    text-align: center;
    
}

header{
    background-color: white; 
    color:blue; 
    display: flow-root;
    padding: 10px;
    margin-bottom: 5px;
    position: w;
    width: 100%;
}
#footer{
padding: 20px;
margin: 20px;
text-align: left ;
width: fit-content;
display: block;
float: none;
}
#footer img{
    float: none;
    padding: auto;
    margin: auto;
}
#crown{

    display: flow-root;
    height: 40px;
    background: rgb(0, 0, 39);
    width: 100%;
    margin: 0;
    display: inline-flex;
    padding: 10px;
}
#crown img{
    height: 20px;
    float: right;
    margin-right: 10px ;
    margin-left: 10px;
}
#crown small{
    text-align: right;
    float: right;
    margin-left: auto;}
p{
    color: hsl(0, 0%, 100%);

}
#insup, #ingrad p{
    font-size: 18px;
}